<!doctype html>

<!DOCTYPE html>
<html>

<head>
	
	<title></title>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="{{ url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
  <script src="http://www.youtube.com/player_api"></script>

</head>

<body>

<div id="player"></div>


<script type=text/javascript>
$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};



window.cur_vid_index = 2;
window.onYouTubePlayerAPIReady = function() {
  console.log(window.videos[window.cur_vid_index]['id']['videoId'])
  player = new YT.Player('player', {
    height: '390',
    width: '640',
    videoId: window.videos[window.cur_vid_index]['id']['videoId'],
    events: {
      'onReady': window.onPlayerReady,
      'onStateChange': window.onPlayerStateChange
    },
    playerVars:{
      start:1,
      end: window.videos[window.cur_vid_index]['end_seconds']
    }
  });
}

// autoplay video
window.onPlayerReady =function (event) {
    event.target.playVideo();
}

// when video ends
window.onPlayerStateChange = function(event) { 
    window.cur_vid_index = (window.cur_vid_index + 1)%window.videos.length;       
    if(event.data === 0) {
        player.loadVideoById({
          videoId:videos[window.cur_vid_index]['id']['videoId'],
          endSeconds:videos[window.cur_vid_index]['end_seconds']});
        
    }
}


var getVideos = function() {
  alert("get vids")
  var selectedGenre = document.getElementById("genre").value;
  var selectedProductive = document.getElementById("productiveTime").value;
  var selectedBreak = document.getElementById("breakTime").value;

  var desiredPomodoro = {
    genre: '',
    productive: '',
    break: ''
  };

  desiredPomodoro['genre'] = selectedGenre;
  desiredPomodoro['productive'] = selectedProductive;
  desiredPomodoro['break'] = selectedBreak;


  $.getJSON($SCRIPT_ROOT + '/_supply_videos', desiredPomodoro,
   function(videos) {
    console.log(videos)
    window.videos = videos;

    window.onYouTubePlayerAPIReady();
  });

  return false;
}

</script>

<br/><br/>

<form>

  <label for="genre">Genre</label>
  <select id="genre">
    <option value="lofi">Lofi</option>
    <option value="edm">EDM</option>
    <option value="classical">Classical</option>
  </select>

  <label for="productiveTime">Productive</label>
  <select id="productiveTime">
    <option value="5">5 minutes</option>
    <option value="10">10 minutes</option>
    <option value="15">15 minutes</option>
    <option value="20">20 minutes</option>
    <option value="25">25 minutes</option>
    <option value="30">30 minutes</option>
  </select>

  <label for="breakTime">Break</label>
  <select id="breakTime">
    <option value="5">5 minutes</option>
    <option value="10">10 minutes</option>
    <option value="15">15 minutes</option>
    <option value="20">20 minutes</option>
    <option value="25">25 minutes</option>
    <option value="30">30 minutes</option>
  </select>

  <input type="submit" value="Submit" onclick="return getVideos();"/>
 
</form>

</body>

</html>
